body {
    margin: 0;
}
.header {
 background-color: white;
 height: 80px;
 padding: 25px 100px;
 border: 1px solid;

}
img {
 width: 50px;
 height: 60px;
}

main{
 width: height
  50px;
}
.form-section {
background-color: white;
}
.container {
 width: 540px;
 font-size: 14px;
 font-weight: 780;


}
.main {
 display: flex;
 justify-content: center;

}
.form-section{
background-color: rgb(255, 246, 73);
padding: 30px;
}
.label-input {
 display: flex;
 flex-direction: column;
 row-gap: 5px;
}
.label-input >label {
 font-size: 12px;
}
.label-input{
 background-color: rgb(66, 156, 234);
 border-radius: 30px;

}